* {
  box-sizing: border-box;
}

header {
  background-color: #ffa500;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
}

.pill-black, .pill-white, .nav-link, .nav-link:hover {
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
}

.pill-black, .nav-link:hover {
  background-color: #000000;
  color: #FFFFFF;
}

footer {
  margin-top: 20px;
}

.no-data {
  color: #ffa500;
}

/* Customizations of Bootstrap classes */

footer {
  background-color: #ffa500;
}