* {
  box-sizing: border-box;
}

header {
  background-color: #ffa500;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul .index-html {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.green {
 color: #008000; 
}

figure img {
  width: 100%;
  height: auto;
}

figure {
  margin-bottom: 30px;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

div > h1 {
  font-size: 1.8rem;
}

nav > p {
  cursor: pointer;
}

.pill-black, .pill-white, .nav-link, .nav-link:hover {
  border: 0.5px solid;
  border-radius: 5px;
  text-align: center;
}

.pill-black, .nav-link:hover {
  background-color: #000000;
  color: #FFFFFF;
}

footer {
  margin-top: 20px;
  background-color: #ffa500;
}

footer div {
  display: flex;
  align-items: center;
}

.no-data {
  color: #ffa500;
}

/* Customizations of Bootstrap classes */

header .row {
  display: flex;
  align-items: center;
}

.col-sm-4 p {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 1px;
}

section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.jumbotron, .jumbotron-career {
  display: flex;
  align-items: center;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.jumbotron {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/buildawebsite.jpg");
}

.jumbotron-career {
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/buildawebsite.jpg");
}

.jumbotron, .jumbotron-career h2 {
  background-color: #FFFFFF;
  display: inline-block;
  color: #F06529;
  font-weight: 700;
  padding: 10px 35px;
  border-radius: 5px;
}

.jumbotron, .jumbotron-career h3 {
  color: #FFFFFF;
  font-weight: bold;
}

.btn-primary {
  color: #2e6da4;
  background-color: #FFFFFF;
}

.col-sm-1 img {
  min-width: 32px;
  min-height: 33px;
}
